.md-content {
  .task-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;

    input[type="checkbox"], label {
      display: inline;
      margin-bottom: 0;
    }

    input[type="checkbox"] {
      margin-right: 1rem;
    }

    input[type="checkbox"]:checked~label {
      text-decoration: line-through;
    }
  }

  a {
    text-decoration: underline;
    color: #1976D2;
  }

  a.hash {
    color: #D81B60;
    font-weight: bold;
    text-decoration: none;
  }

  a.hash:hover {
    text-decoration: underline;
  }

  a.hash:before {
    content: '#';
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.375;
    margin-top: 1em;
    margin-bottom: .5em;
    letter-spacing: -.025em;
  }

  h1:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.375;
    margin-top: 1.25em;
    margin-bottom: .5em;
    letter-spacing: -.025em;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.375;
    margin-top: 1.25em;
    margin-bottom: .5em;
    letter-spacing: -.025em;
  }

  table.table th[align="right"] {
    text-align: right;
  }
}