@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$font-family-base: DM Sans, Roboto;
$headings-font-family: DM Sans, Roboto;
$primary: #222222;
$secondary: #666666;
$light: #eceeec;
$dark: #111111;
$headings-font-weight: 700;
$card-spacer-y: .9rem;
$card-spacer-x: .9rem;
$breadcrumb-bg: transparent;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';