.md-content, 
.tm-editor {
  a {
    text-decoration: underline;
    color: #1976D2;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-top: 40px;
    font-size: 2em;
  }

  h2 {
    margin-top: 20px;
    font-size: 1.25em;
  }

  h3 {
    margin-top: 10px;
    font-size: 1em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 1rem;
  }
}