.md-content, 
.tm-editor .ql-editor {
  line-height: 1.5em;

  a {
    text-decoration: underline;
    color: #1976D2;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-top: 40px;
    font-size: 2em;
  }

  h2 {
    margin-top: 20px;
    font-size: 1.25em;
  }

  h3 {
    margin-top: 10px;
    font-size: 1em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  ul, ol {
    padding-left: 0;
    margin: 0;

    li {
      padding-left: 0 !important;
      list-style-type: none;

      &:before {
        margin-left: 0 !important;
        margin-right: .5em !important;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        width: 1.1em;
      }
    }
  }

  ol {
    counter-reset: ol-list;

    li::before {
      counter-increment: ol-list;
      content: counter(ol-list, decimal) '. ';
    }
  }

  ul li::before {
    content: '\2022';
  }

  ul[data-checked] > li::before {
    content: ' ';
    height: 1.5em;
    background-size: 1.1em 1.1em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
  }

  ul[data-checked=false] > li::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Square</title><path d="M416 448H96a32.09 32.09 0 01-32-32V96a32.09 32.09 0 0132-32h320a32.09 32.09 0 0132 32v320a32.09 32.09 0 01-32 32z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>');
  }

  ul[data-checked=true] > li::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Checkbox</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M352 176L217.6 336 160 272"/><rect x="64" y="64" width="384" height="384" rx="48" ry="48" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/></svg>');
  }

  .hashtag {
    color: #D81B60;
    font-weight: bold;
    text-decoration: none;
  }

  .hashtag:before {
    content: '#';
  }

  .timerange {
    span {
      padding: 0 .5em;
      color: white;
      font-size: .8em;
      font-weight: bold;
      border-radius: .5em;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 -.3em;
      height: 2em;
      line-height: 2.25em;
    }
  }
}